VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://uxzwgvfnvfffbedyuvmp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4endndmZudmZmZmJlZHl1dm1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMTI1OTksImV4cCI6MjA5MjY4ODU5OX0.G-0E-2IWPyn8Ybf11QbID60q7uQziYIJsf7ZS3SvgKA
